<div class="general">
  <div class="container  ">
    <div class="row ">

      <div class="col-md-6 col-md-offset-3">
        <div class="panel panel-primary ">
          <div class="panel-heading titulo">Registro usuario Ikeotaku!Arigato</div>
          <div class="panel-body">
            <form novalidate [formGroup]="formUser" (ngSubmit)="addUserBBDD()">
              <div class="form-group">
                <label for="fname">Nombre de usuario</label>
                <input type="text" id="fNickname" class="form-control" name="fnickname" placeholder="Nombre de usuario"
                  formControlName="nickName">
              </div>

              <div class="form-group">
                <label for="gender">Seleciona tu genero</label>
                <select id="gender" class="form-control" name="gender" formControlName="gender">
                  <option value="Desconocido">Desconocido</option>
                  <option value="hombre">Hombre</option>
                  <option value="mujer">Mujer</option>
                </select>
              </div>

              <div class="form-group">
                <label for="country">Pais </label>
                <input type="text" id="country" class="form-control" name="country" placeholder="Ejemplo:España"
                  formControlName="country">
              </div>
              <div class="form-group">
                <label for="province">Ciudad </label>
                <input type="text" id="province" class="form-control" name="province" placeholder="Ejemplo: Barcelona"
                  formControlName="province">
              </div>
              <div class="form-group">
                <label for="emailaddr">Direccion de Email </label>
                <input type="text" id="emailaddr" class="form-control" name="email"
                  placeholder="Ejemplo: john.doe@gmail.com" formControlName="email">
              </div>
              <div class="form-group">
                <label for="fAge">Fecha de nacimiento </label>
                <br>
                <input type="date" name="cumpleanios" step="1" min="1950-01-01" max="2020-12-31" value="2020-01-01"
                  formControlName="birthday">
              </div>
              <div class="form-group">
                <label for="Contraseña">Contraseña</label>
                <input type="password" id="password" class="form-control" name="password"
                  placeholder="Debe contener minimo 8 caracteres" formControlName="password">
              </div>
              <div class="form-group">
                <label for="verifypass">Repetir Contraseña</label>
                <input type="password" id="confirmpass" class="form-control" name="verifypass"
                  placeholder="Debe contener minimo 8 caracteres" formControlName="password">
              </div>
              <div class="form-group text-center">
                <input type="submit" class="button btn btn-primary btn-lg" value="Registrate">

              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
